/* HOVER NAV */
.sidebar a {
    display: block;
    margin: 10px 0;
    color: #94a3b8;
    cursor: pointer;
    padding: 8px;
    border-radius: 6px;
    transition: 0.2s;
}

.sidebar a:hover {
    background: #1e293b;
    color: white;
    transform: translateX(4px);
}

/* BOTÃO hover */
button {
    transition: 0.2s;
}

button:hover {
    background: #2563eb;
    transform: scale(1.05);
}

/* esconder secções */
.hidden {
    display: none;
}

/* gráfico card */
.chart-card {
    margin-top: 20px;
}